In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
data = pd.read_csv("../data/CAISO-Forward-Prices.csv")
data['Peak'] = data['Peak'].astype(str).str.replace(r'[\$,]', '', regex=True)
data['Peak'] = pd.to_numeric(data['Peak'], errors='coerce')

data['Off Peak'] = data['Off Peak'].astype(str).str.replace(r'[\$,]', '', regex=True)
data['Off Peak'] = pd.to_numeric(data['Off Peak'], errors='coerce')
print(data.dtypes)
print(data.head())

Month        object
Peak        float64
Off Peak    float64
dtype: object
    Month   Peak  Off Peak
0  Jan-26  66.49     74.33
1  Feb-26  51.40     65.81
2  Mar-26  19.21     37.62
3  Apr-26  10.97     37.87
4  May-26   7.81     32.31

In [45]:
def preprocessCSV(data_hist):
    data_hist['RT Busbar'] = data_hist['RT Busbar'].astype(str).str.replace(r'[\(,]', '-', regex=True)
    data_hist['RT Busbar'] = data_hist['RT Busbar'].astype(str).str.replace(r'[\),]', '', regex=True)
    
    data_hist['RT Busbar'] = data_hist['RT Busbar'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data_hist['RT Busbar'] = pd.to_numeric(data_hist['RT Busbar'], errors='coerce')
    
    data_hist['RT Hub'] = data_hist['RT Hub'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data_hist['RT Hub'] = pd.to_numeric(data_hist['RT Hub'], errors='coerce')
    
    
    data_hist['DA Busbar'] = data_hist['DA Busbar'].astype(str).str.replace(r'[\(,]', '-', regex=True)
    data_hist['DA Busbar'] = data_hist['DA Busbar'].astype(str).str.replace(r'[\),]', '', regex=True)
    
    data_hist['DA Busbar'] = data_hist['DA Busbar'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data_hist['DA Busbar'] = pd.to_numeric(data_hist['DA Busbar'], errors='coerce')
    
    data_hist['DA Hub'] = data_hist['DA Hub'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data_hist['DA Hub'] = pd.to_numeric(data_hist['DA Hub'], errors='coerce')
    
    data_hist['P/OP'] = data_hist['P/OP'].astype(str).str.replace('OP' , '0', regex=True)
    data_hist['P/OP'] = data_hist['P/OP'].astype(str).str.replace('P', '1', regex=True)
    data_hist['P/OP'] = pd.to_numeric(data_hist['P/OP'], errors='coerce')

In [46]:
def preprocessCSV_ForwardPoint(data):
    data['Peak'] = data['Peak'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data['Peak'] = pd.to_numeric(data['Peak'], errors='coerce')
    
    data['Off Peak'] = data['Off Peak'].astype(str).str.replace(r'[\$,]', '', regex=True)
    data['Off Peak'] = pd.to_numeric(data['Off Peak'], errors='coerce')

In [47]:
data_hist_caiso = pd.read_csv("../data/CAISO-Historical-Data.csv")
data_hist_ercot = pd.read_csv("../data/ERCOT-Historical-Data.csv")
data_hist_miso = pd.read_csv("../data/MISO-Historical-Data.csv")

preprocessCSV(data_hist_caiso)
preprocessCSV(data_hist_ercot)
preprocessCSV(data_hist_miso)

In [49]:
data_fp_caiso = pd.read_csv("../data/CAISO-Forward-Prices.csv")
data_fp_ercot = pd.read_csv("../data/ERCOT-Forward-Prices.csv")
data_fp_miso = pd.read_csv("../data/MISO-Forward-Prices.csv")

preprocessCSV_ForwardPoint(data_fp_caiso)
preprocessCSV_ForwardPoint(data_fp_ercot)
preprocessCSV_ForwardPoint(data_fp_miso)

In [51]:
data_fp_caiso.head()

    Month   Peak  Off Peak
0  Jan-26  66.49     74.33
1  Feb-26  51.40     65.81
2  Mar-26  19.21     37.62
3  Apr-26  10.97     37.87
4  May-26   7.81     32.31

In [53]:
data_hist_caiso.head()

       Date  HE  P/OP  Gen  RT Busbar  RT Hub  DA Busbar  DA Hub
0  1-Jan-22   1     0  0.0      60.36   60.00      58.03   57.68
1  1-Jan-22   2     0  0.0      58.14   58.14      60.56   60.24
2  1-Jan-22   3     0  0.0      60.43   59.96      57.50   57.40
3  1-Jan-22   4     0  0.0      66.69   65.84      58.38   58.29
4  1-Jan-22   5     0  0.0      66.09   65.15      60.47   60.30